<.topbar current_user={Map.get(assigns, :current_user)} />
<div class={"h-screen overflow-y-auto py-4 bg-gray-50 " <> if(Map.get(assigns, :current_user), do: "pt-[50px] pl-[250px]", else: "pt-[90px]")}>
  <.sidebar :if={Map.get(assigns, :current_user)} current_user={@current_user} />
  <main class="w-full h-full">
    <.flash_group flash={@flash} />
    {@inner_content}
  </main>
</div>
